.header {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    border-bottom: 1px solid #f9f9f9;
    background-color: #272829; /* Replace with your desired color */
    padding: 10px; /* Optional: Adds some padding around the content */
  }
  
  .header__image {
    height: 80px;
    width: 80px;
  }
  